#!/bin/bash
sudo yum update -y
sudo yum install docker -y
sudo systemctl start docker
sudo systemctl enable docker
cat > config.yaml << EOL
ui:
  header: "Test App - AWS - AZ${az}"
  title: "Test App - AWS - AZ${az}"
endpoints:
  - name: www.google.com
    url: "https://www.google.com"
    interval: 5s
    group: Internet
    conditions:
      - "[STATUS] == 200"
  - name: www.facebook.com
    url: "https://www.facebook.com"
    interval: 5s
    group: Internet
    conditions:
      - "[STATUS] == 200"
  - name: portal.azure.com
    url: "https://portal.azure.com/"
    interval: 5s
    group: Internet
    conditions:
      - "[STATUS] == 200"
  - name: www.amazon.com
    url: "https://www.amazon.com"
    interval: 5s
    group: Internet
    conditions:
      - "[STATUS] == 200"
  - name: ICMP
    url: "icmp://${vpc2_server}"
    group: Private Network
    interval: 5s
    conditions:
      - "[CONNECTED] == true"
  - name: HTTP
    url: "http://${vpc2_server}"
    interval: 5s
    group: Private Network
    conditions:
      - "[STATUS] == 200"
  - name: Poor Reputation IP
    url: "http://101.226.173.218"
    interval: 20s
    group: Threats
    conditions:
      - "[STATUS] == 200"
EOL
sudo docker run -d --restart unless-stopped --name gatus -p 80:8080 --mount type=bind,source="$(pwd)"/config.yaml,target=/config/config.yaml twinproduction/gatus